.container{
    border: 2px solid;
    height: 400px;
    width: auto;
    margin-top: 100px;
}

#btn{
    margin: 10px;
    margin-left:40%;
}
h3{
    align-self: center; 
    padding: 12px;
    
}


